.clocktitle
{
    text-align: center;
    font-style: oblique;
}

.clockdesc
{
    margin-left: 10%;
    margin-right: 10%;
}
ul
{
   width:80%;
    display: flex;
  
  
   justify-content:space-between;
    
}