*{
    margin:0%;
    padding: 0%;
    box-sizing: border-box;


}
body
{
    background-image: url(../IMAGES/pexels-roman-odintsov-4553021.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center -2vh;
   
}
.form
{
    
    
    border-radius: 10px;
    border-color:white;
    border-style: solid;
    position: absolute;
    left:50%;
    top:50%;
    padding:15px 15px;
    transform: translate(-50%,-50%);
    /* z-index: -510;  */
}
input{
    padding: 5px 5px;
    outline: none;
  border: solid;
    border-radius: 10px;
     display:block;
border-color: white;
}
label
{
      display:block;
}
a{
    color:white;
}
/* #submit
{
      display:block;
    position: relative;
    left:25%;
} */