ul
{
   width:80%;
    display: flex;
  
  
   justify-content:space-between;
    
} 
#my-input
{
    margin:0% 3%;
}
textarea
{
  border-radius: 10px;
  outline: none;
  border: solid;
border-color: #007bff;
}
.line
{
  position: relative;
  left:10%;
    background-color: #d8d8d8;
    height:  1px;
    width: 80%;
}